<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
<th:block th:fragment="likes(postId)">
  <script th:inline="javascript">
    $("#post-react-btn").click(function (){
      const param = {
        postNum: "[[${postId}]]"
      };
      console.log(param);
      $.ajax({
        type: "POST",
        url: "/post/like/check",
        data : param,
        success: function (flag) {
          if (flag) {
            // 좋아요가 있을 때 로직
            console.log(flag);
          } else {
            // 좋아요가 없을 때 로직
            console.log(flag);
          }
        },
      })
    });
  </script>
</th:block>
</body>
</html>