<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
<th:block th:fragment="likes(postId)">
  <script th:inline="javascript">
    $("#post-react-btn").click(function (){
      let param = {
        postNum: "[[${postId}]]"
      };
      console.log(param);
      $.ajax({
        type: "POST",
        url: "/post/modify/like",
        data : param,
        success: function (flag) {
          if (flag) {
            // 좋아요를 안 눌러진 상태일 때 -> 좋아요 추가
            console.log(flag);
          } else {
            // 좋아요가 눌러진 상태일 때 -> 좋아요 제거
            console.log(flag);
          }
        },
      })
    });
  </script>
</th:block>
</body>
</html>