<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
<th:block th:fragment="likes(postId)">
  <script th:inline="javascript">
    let addPostLike = {
      modifyPostLike: function (postId) {
        let param = {
          postNum: postId
        };
        $.ajax({
          type: "POST",
          url: "/post/modify/like",
          data : param,
          success: function (flag) {
            $('#post-ajax-form').load(location.href+' #post-ajax-form');
          },
        })
      },
    }
  </script>
</th:block>
</body>
</html>