<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>맛동산</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link rel="stylesheet" th:href="@{/dependencies/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/dependencies/icofont/icofont.min.css}">
    <link rel="stylesheet" th:href="@{/dependencies/slick-carousel/css/slick.css}">
    <link rel="stylesheet" th:href="@{/dependencies/slick-carousel/css/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/dependencies/magnific-popup/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/dependencies/sal.js/sal.css}">
    <link rel="stylesheet" th:href="@{/dependencies/mcustomscrollbar/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" th:href="@{/dependencies/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/dist/output.css}">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

    <!-- Awsome Font -->
    <script src="https://kit.fontawesome.com/f5ed871e11.js" crossorigin="anonymous"></script>

    <!-- SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Jquery Js -->
    <script th:src="@{/dependencies/jquery/js/jquery.min.js}"></script>
    <script th:src="@{/dependencies/sal.js/sal.js}"></script>
    <script th:src="@{/dependencies/popper.js/js/popper.min.js}"></script>
    <script th:src="@{/dependencies/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/dependencies/isotope-layout/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/dependencies/slick-carousel/js/slick.min.js}"></script>
    <script th:src="@{/dependencies/magnific-popup/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/dependencies/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/dependencies/select2/js/select2.min.js}"></script>
    <script th:src="@{/dependencies/elevate-zoom/jquery.elevatezoom.js}"></script>
    <script th:src="@{/dependencies/bootstrap-validator/js/validator.min.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
            integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M" crossorigin="anonymous">
    </script>

<!--    <script th:src="@{/timeconvert.js}"></script>-->

</head>

<body class="bg-link-water">
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="icofont-bubble-up"></i>
    </a>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <div id="wrapper" class="wrapper">
        <header th:replace="fragments/header :: header"></header>
        <div th:replace="fragments/left-sidebar :: left-sidebar"></div>
        <!--<div th:replace="fragments/right-sidebar :: right-sidebar"></div>-->
        <div class="page-content">
            <div layout:fragment="content">
                내용
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <script th:inline="javascript">
        function timeForToday(value) {
            const today = new Date();
            const timeValue = new Date(value);

            const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
            if (betweenTime < 1) return '방금전';
            if (betweenTime < 60) {
                return `${betweenTime}분전`;
            }

            const betweenTimeHour = Math.floor(betweenTime / 60);
            if (betweenTimeHour < 24) {
                return `${betweenTimeHour}시간전`;
            }

            const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
            if (betweenTimeDay < 365) {
                return `${betweenTimeDay}일전`;
            }

            return `${Math.floor(betweenTimeDay / 365)}년전`;
        }
    </script>
    <script th:src="@{/assets/js/app.js}"></script>
</body>
</html>