<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 프로필</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <!-- Banner Area Start -->
        <div class="banner-user">
            <div class="banner-content">
                <div class="media">
                    <div class="item-img">
                        <img src="media/banner/user_1.jpg" alt="User">
                    </div>
                    <div class="media-body">
                        <h3 class="item-title" sec:authentication="principal.username">닉네임</h3>
                        <div class="item-subtitle">United State of America</div>
                        <ul class="item-social">
                            <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                            <li><a href="#" class="bg-youtube"><i class="icofont-brand-youtube"></i></a></li>
                            <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                        </ul>
                        <ul class="user-meta">
                            <li>Posts: <span>30</span></li>
                            <li>Comments: <span>12</span></li>
                            <li>Views: <span>1.2k</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-box user-top-header">
            <ul class="menu-list">
                <li class="active"><a href="#">Timeline</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Forums</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Shop</a>
                            <a class="dropdown-item" href="#">Blog</a>
                            <a class="dropdown-item" href="#">Others</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="media/figure/chat_5.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="user-timeline.html">Rebeca Powel</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-world"></i>Public</li>
                                    <li class="meta-time">2 mins ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>Dhaka is wonderful no matter what! <i class="icofont-wink-smile"></i></p>
                        <div class="post-img">
                            <img src="media/figure/post_10.jpg" alt="Post">
                        </div>
                        <div class="post-meta-wrap">
                            <div class="post-meta">
                                <div class="post-reaction">
                                    <div class="reaction-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_2.png" alt="icon">
                                        <img src="media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">15</div>
                                </div>
                            </div>
                            <div class="post-meta">
                                <div class="meta-text">2 Comments</div>
                                <div class="meta-text">05 Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-comment"></i>Comment</a></li>
                            <li class="post-share">
                                <a href="javascript:void(0);" class="share-btn"><i class="icofont-share"></i>Share</a>
                                <ul class="share-list">
                                    <li><a href="#" class="color-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="color-messenger"><i class="icofont-facebook-messenger"></i></a></li>
                                    <li><a href="#" class="color-instagram"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" class="color-whatsapp"><i class="icofont-brand-whatsapp"></i></a></li>
                                    <li><a href="#" class="color-twitter"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="media/figure/chat_5.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="user-timeline.html">Rebeca Powel</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-users-alt-4"></i>Friends</li>
                                    <li class="meta-time">2 mins ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-no-thumbnail">
                            <p>I have great news to share with you all! I've been officially made a game streaming verified partner by Streamy http://radiustheme.com/ What does this mean? I'll be uploading new content every day, improving the quality and I'm gonna have access to games a month before the official release.</p>
                            <p>This is a dream come true, thanks to all for the support!!!</p>
                        </div>
                        <div class="post-meta-wrap">
                            <div class="post-meta">
                                <div class="post-reaction">
                                    <div class="reaction-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_2.png" alt="icon">
                                        <img src="media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">25</div>
                                </div>
                            </div>
                            <div class="post-meta">
                                <div class="meta-text">2 Comments</div>
                                <div class="meta-text">05 Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-comment"></i>Comment</a></li>
                            <li class="post-share">
                                <a href="javascript:void(0);" class="share-btn"><i class="icofont-share"></i>Share</a>
                                <ul class="share-list">
                                    <li><a href="#" class="color-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="color-messenger"><i class="icofont-facebook-messenger"></i></a></li>
                                    <li><a href="#" class="color-instagram"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" class="color-whatsapp"><i class="icofont-brand-whatsapp"></i></a></li>
                                    <li><a href="#" class="color-twitter"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="post-comment">
                        <ul class="comment-list">
                            <li class="main-comments">
                                <div class="each-comment">
                                    <div class="post-header">
                                        <div class="media">
                                            <div class="user-img">
                                                <img src="media/figure/chat_14.jpg" alt="Aahat">
                                            </div>
                                            <div class="media-body">
                                                <div class="user-title"><a href="user-timeline.html">Aahat Akter</a></div>
                                                <ul class="entry-meta">
                                                    <li class="meta-privacy"><i class="icofont-world"></i>Friends</li>
                                                    <li class="meta-time">5 mins ago</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                ...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">

                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantiumSed ut perspicia tisery..</p>
                                    </div>
                                    <div class="post-footer">
                                        <ul>
                                            <li class="react-icon">
                                                <img src="media/figure/reaction_1.png" alt="icon">
                                                <img src="media/figure/reaction_2.png" alt="icon">
                                            </li>
                                            <li class="post-react">
                                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                                <ul class="react-list">
                                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="main-comments">
                                        <div class="each-comment">
                                            <div class="post-header">
                                                <div class="media">
                                                    <div class="user-img">
                                                        <img src="media/figure/notifiy_1.png" alt="Aahat">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="user-title"><a href="user-timeline.html">Neko Bebo</a></div>
                                                        <ul class="entry-meta">
                                                            <li class="meta-time">5 mins ago</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                        ...
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">

                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem..</p>
                                            </div>
                                            <div class="post-footer">
                                                <ul>
                                                    <li class="react-icon">
                                                        <img src="media/figure/reaction_1.png" alt="icon">
                                                        <img src="media/figure/reaction_3.png" alt="icon">
                                                    </li>
                                                    <li class="post-react">
                                                        <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                                        <ul class="react-list">
                                                            <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main-comments">
                                        <div class="each-comment">
                                            <div class="post-header">
                                                <div class="media">
                                                    <div class="user-img">
                                                        <img src="media/figure/notifiy_1.png" alt="Aahat">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="user-title"><a href="user-timeline.html">Neko Bebo</a></div>
                                                        <ul class="entry-meta">
                                                            <li class="meta-time">5 mins ago</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                        ...
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">

                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque..</p>
                                            </div>
                                            <div class="post-footer">
                                                <ul>
                                                    <li class="react-icon">
                                                        <img src="media/figure/reaction_1.png" alt="icon">
                                                        <img src="media/figure/reaction_2.png" alt="icon">
                                                    </li>
                                                    <li class="post-react">
                                                        <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                                        <ul class="react-list">
                                                            <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                                            <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="main-comments">
                                <div class="each-comment">
                                    <div class="post-header">
                                        <div class="media">
                                            <div class="user-img">
                                                <img src="media/figure/chat_14.jpg" alt="Aahat">
                                            </div>
                                            <div class="media-body">
                                                <div class="user-title"><a href="#">Rebeca Powel</a></div>
                                                <ul class="entry-meta">
                                                    <li class="meta-privacy"><i class="icofont-world"></i>Friends</li>
                                                    <li class="meta-time">5 minutes ago</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                ...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">

                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantiumSed ..</p>
                                    </div>
                                    <div class="post-footer">
                                        <ul>
                                            <li class="react-icon">
                                                <img src="media/figure/reaction_1.png" alt="icon">
                                                <img src="media/figure/reaction_2.png" alt="icon">
                                            </li>
                                            <li class="post-react">
                                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                                <ul class="react-list">
                                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="load-more-btn">
                            <a href="#" class="item-btn">Load More Comments <span>4+</span></a>
                        </div>
                        <div class="comment-reply">
                            <div class="user-img">
                                <img src="media/figure/chat_15.jpg" alt="Aahat">
                            </div>
                            <div class="input-box">
                                <input type="text" name="comment" class="form-control" placeholder="Your Reply....">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="media/figure/chat_5.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="user-timeline.html">Rebeca Powel</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-user-alt-3"></i>Personal</li>
                                    <li class="meta-time">8 mins ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-no-thumbnail">
                            <p>I have great news to share with you all! I've been officially made a game streaming verified partner by Streamy http://radiustheme.com/ What does this mean? I'll be uploading new content every day, improving the quality and I'm gonna have access to games a month before the official release.</p>
                            <p>This is a dream come true, thanks to all for the support!!!</p>
                        </div>
                        <div class="post-meta-wrap">
                            <div class="post-meta">
                                <div class="post-reaction">
                                    <div class="reaction-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_2.png" alt="icon">
                                        <img src="media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">35</div>
                                </div>
                            </div>
                            <div class="post-meta">
                                <div class="meta-text">2 Comments</div>
                                <div class="meta-text">05 Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-comment"></i>Comment</a></li>
                            <li class="post-share">
                                <a href="javascript:void(0);" class="share-btn"><i class="icofont-share"></i>Share</a>
                                <ul class="share-list">
                                    <li><a href="#" class="color-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="color-messenger"><i class="icofont-facebook-messenger"></i></a></li>
                                    <li><a href="#" class="color-instagram"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" class="color-whatsapp"><i class="icofont-brand-whatsapp"></i></a></li>
                                    <li><a href="#" class="color-twitter"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="media/figure/chat_5.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="user-timeline.html">Rebeca Powel</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-world"></i>Public</li>
                                    <li class="meta-time">10 mins ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>This is a dream come true, thanks to all for the support!!!</p>
                        <div class="post-video">
                            <img src="media/figure/post_11.jpg" alt="Post">
                            <a href="#" class="video-btn"><i class="icofont-ui-play"></i></a>
                        </div>
                        <div class="post-meta-wrap">
                            <div class="post-meta">
                                <div class="post-reaction">
                                    <div class="reaction-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_2.png" alt="icon">
                                        <img src="media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">55</div>
                                </div>
                            </div>
                            <div class="post-meta">
                                <div class="meta-text">05 Comments</div>
                                <div class="meta-text">02 Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-comment"></i>Comment</a></li>
                            <li class="post-share">
                                <a href="javascript:void(0);" class="share-btn"><i class="icofont-share"></i>Share</a>
                                <ul class="share-list">
                                    <li><a href="#" class="color-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="color-messenger"><i class="icofont-facebook-messenger"></i></a></li>
                                    <li><a href="#" class="color-instagram"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" class="color-whatsapp"><i class="icofont-brand-whatsapp"></i></a></li>
                                    <li><a href="#" class="color-twitter"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-box load-more-btn">
                    <a href="#" class="item-btn"><i class="icofont-refresh"></i>Load More Posts</a>
                </div>
            </div>
            <div class="col-lg-4 widget-block widget-break-lg">
                <div class="widget widget-user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">About Me</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <p class="text-dark" th:text="${member.getIntroduce()}">소개글</p>
                        <ul class="info-list">
                            <li><span>Joined:</span><span class="text-dark" th:text="${#temporals.format(member.getSignUpDate(), 'yyyy-MM-dd')}"></span></li>
                            <li><span>Posts:</span><span class="text-dark" th:text="${10}">게시글 수</span></li>
                            <li><span>Replies:</span><span class="text-dark" th:text="${10}">댓글 수</span></li>
                            <li><span>Views:</span><span class="text-dark" th:text="${10}">조회수</span></li>
                            <li class="social-share"><span>Social:</span>
                                <div class="social-icon">
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                    <a href="#"><i class="icofont-dribbble"></i></a>
                                    <a href="#"><i class="icofont-whatsapp"></i></a>
                                    <a href="#"><i class="icofont-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-badges">
                    <div class="widget-heading">
                        <h3 class="widget-title">My Badges</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <ul class="badge-list">
                        <li><a href="#" class="bg-tagerine-gradient"><i class="icofont-crown-queen"></i></a></li>
                        <li><a href="#" class="bg-amethyst-gradient"><i class="icofont-ui-play"></i></a></li>
                        <li><a href="#" class="bg-picton-gradient"><i class="icofont-simple-smile"></i></a></li>
                        <li><a href="#" class="bg-sun-gradient"><i class="icofont-squirrel"></i></a></li>
                        <li><a href="#" class="bg-jungle-gradient"><i class="icofont-rocket-alt-1"></i></a></li>
                        <li><a href="#" class="bg-dodger-gradient"><i class="icofont-fire-burn"></i></a></li>
                        <li><a href="#" class="bg-pink-gradient"><i class="icofont-dart"></i></a></li>
                        <li><a href="#" class="bg-spring-gradient"><i class="icofont-flash"></i></a></li>
                        <li><a href="#" class="bg-gray-gradient"><i class="icofont-panda-face"></i></a></li>
                        <li><a href="#" class="bg-salmon-gradient"><i class="icofont-star"></i></a></li>

                    </ul>
                </div>
                <div class="widget widget-banner">
                    <h3 class="item-title">Most Popular</h3>
                    <div class="item-subtitle">Circle Application</div>
                    <a href="#" class="item-btn">
                        <span class="btn-text">Register Now</span>
                        <span class="btn-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                                        <path fill-rule="evenodd" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                                    </svg>
                                </span>
                    </a>
                    <div class="item-img">
                        <img src="media/figure/widget_banner_1.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>