<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 프로필</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <!-- Banner Area Start -->
        <th:block th:replace="/fragments/profile-nav::profile-nav(${member}, profile)"></th:block>
        <div>
            <th:block th:if="${member.getPostList().size() == 0}">
                <div class="block-box post-view">
                    <div class="post-body">
                        <div class="post-no-thumbnail text-center align-middle">
                            <h5>아직 작성된 게시물이 없습니다.</h5>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${member.getPostList().size() != 0}">
                <div class="row gutters-20 ">
                    <div class="col-lg-3 col-md-4 col-6" th:each="post : ${member.getPostList()}">
                        <div class="bg-white mb-2 p-2 rounded">
                            <a th:href="@{/post/{postId}(postId = ${post.getId()})}">
                                <p class="text-dark" th:text="${post.getTitle()}">포스트 제목</p>
                                <div>
                                    <span><i class="icofont-thumbs-up text-dark"></i><a th:text="${post.getPostLike().size()}" class="mx-2">추천 수</a></span>
                                    <span><i class="icofont-comment text-dark"></i><a th:text="${post.getReplyList().size()}" class="mx-2">댓글 수</a></span>
                                </div>
                                <a th:href="@{/place/{placeId}/detail(placeId = ${post.getPlace().getId()})}">
                                    <p class="text-primary font-weight-bold" th:text="${post.getPlace().placeName}">장소 이름</p>
                                </a>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>

</html>