<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 프로필</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <!-- Banner Area Start -->
        <th:block th:replace="/fragments/profile-nav::profile-nav(${member}, profile)"></th:block>
        <div>
            <th:block th:if="${member.getPostList().size() == 0}">
                <div class="block-box post-view">
                    <div class="post-body">
                        <div class="post-no-thumbnail text-center align-middle">
                            <br>
                            <h5>아직 작성된 게시물이 없습니다.</h5>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${member.getPostList().size() != 0}">
                <div class="row gutters-20 ">
                    <th:block th:each="post : ${member.getPostList()}">
                        <th:block th:if="${post.getAuthor().nickname == #authentication.principal.nickname}">
                            <div class="col-lg-3 col-md-4 col-6">
                                <div class="card">
                                    <img th:src="${post.getPlace().mainPhotoUrl}" class="card-img-top" alt="..." style="height:180px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><a th:href="@{|/post/${post.id}/detail|}" th:text="${post.title}">제목</a></h5>
                                        <span>
                                    <i class="icofont-location-pin"></i>
                                    <a th:href="@{/place/{placeId}/detail(placeId = ${post.getPlace().getId()})}">
                                        <h6 class="card-text" th:text="${post.getPlace().placeName}">장소 이름</h6>
                                    </a>
                                </span>
                                        <hr class="my-1">
                                        <div>
                                    <span>
                                        <i class="icofont-clock-time"></i>
                                        <span th:text="${post.postTime}" class="mx-2">업로드 시간</span>
                                    </span>
                                            <span>
                                        <th:block th:if="${!post.privateStatus}">
                                            <i class="icofont-lock"></i><span class="mx-2">Private</span>
                                        </th:block>
                                        <th:block th:if="${post.privateStatus}">
                                            <i class="icofont-world"></i><span class="mx-2">Public</span>
                                        </th:block>
                                    </span>
                                        </div>
                                        <div>
                                            <span><i class="icofont-thumbs-up text-dark"></i><span th:text="${post.getPostLike().size()}" class="mx-2">추천 수</span></span>
                                            <span><i class="icofont-comment text-dark"></i><span th:text="${post.getReplyList().size()}" class="mx-2">댓글 수</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${(post.getAuthor().nickname != #authentication.principal.nickname) && post.privateStatus}">
                            <div class="col-lg-3 col-md-4 col-6">
                                <div class="card">
                                    <img th:src="${post.getPlace().mainPhotoUrl}" class="card-img-top" alt="..." style="height:180px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><a th:href="@{|/post/${post.id}/detail|}" th:text="${post.title}">제목</a></h5>
                                        <span>
                                    <i class="icofont-location-pin"></i>
                                    <a th:href="@{/place/{placeId}/detail(placeId = ${post.getPlace().getId()})}">
                                        <h6 class="card-text" th:text="${post.getPlace().placeName}">장소 이름</h6>
                                    </a>
                                </span>
                                        <hr class="my-1">
                                        <div>
                                    <span>
                                        <i class="icofont-clock-time"></i>
                                        <span th:text="${post.postTime}" class="mx-2">업로드 시간</span>
                                    </span>
                                            <span>
                                        <th:block th:if="${!post.privateStatus}">
                                            <i class="icofont-lock"></i><span class="mx-2">Private</span>
                                        </th:block>
                                        <th:block th:if="${post.privateStatus}">
                                            <i class="icofont-world"></i><span class="mx-2">Public</span>
                                        </th:block>
                                    </span>
                                        </div>
                                        <div>
                                            <span><i class="icofont-thumbs-up text-dark"></i><span th:text="${post.getPostLike().size()}" class="mx-2">추천 수</span></span>
                                            <span><i class="icofont-comment text-dark"></i><span th:text="${post.getReplyList().size()}" class="mx-2">댓글 수</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>

</html>