<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
  <title>맛동산 | 프로필</title>
</head>
<body>
<div layout:fragment="content">
  <!--=====================================-->
  <!--=       Container  Area Start       =-->
  <!--=====================================-->
  <div class="container">
    <!-- Banner Area Start -->
    <th:block th:replace="/fragments/profile-nav::profile-nav(${member}, bookmark)"></th:block>

    <!-- 북마크 추가 버튼 -->
    <div class="">
      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#staticBackdrop">북마크 추가</button>
    </div>

    <!-- Modal -->
    <form th:action="@{/favorite/addFavorite}" th:method="post" id="addFavorite" onsubmit="return false">
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">북마크 추가하기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="status"></div>
              <input type="text" class="form-control" name="subject" id="floatingInput" placeholder="북마크 이름을 입력해주세요." required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              <button type="button" id="subjectButton" class="btn btn-primary">추가</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script type="text/javascript">
      $("#subjectButton").click(function() {
        var bookmarkSubject =  $("#floatingInput").val();
        console.log("버튼 클릭" + bookmarkSubject);

        $.ajax({
          async: true,
          type : 'POST',
          data : bookmarkSubject,
          url : "favorite/subjectCheck",
          dataType : "json",
          contentType: "application/json; charset=UTF-8",
          success : function(result) {
            console.log(result);
            if (result) {
              alert("북마크 이름은 중복으로 사용이 불가능 합니다.");
              $("#floatingInput").focus();
            } else {
              document.getElementById('addFavorite').submit();
            }
          },
          error : function(error) {

            alert("error : " + error);
          }
        });
      });
    </script>

    <!-- 북마크 리스트 -->
    <div class="block-box post-view" th:each="favorite, loop : ${favorites}">
      <div class="post-header d-flex justify-content-between">
        <h3 th:text="${favorite.subject}"></h3>

        <!-- 북마크 관리 버튼 -->
        <a data-toggle="modal" th:data-target="'#staticBackdrop2' + ${favorite.id}">
          <i class="icofont-settings-alt text-dark"></i>
        </a>

        <!-- 북마크 관리 nodal -->
        <div class="modal fade" th:id="'staticBackdrop2' + ${favorite.id}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" th:id="${favorite.id}">북마크 관리</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h6 class="modal-title">북마크 수정하기</h6>
                <form th:action="@{|/favorite/modifyFavorite/${favorite.id}|}" th:method="post" th:id="'modifyFavorite' + ${favorite.id}">
                  <input tpye="text" class="form-control" name="subject" th:id="'floatingInput2'+${favorite.id}" placeholder="북마크 이름을 입력해주세요." required>
                  <button type="button" th:id="'subjectButton' + ${favorite.id}" class="dropdown-item">수정</button>
                  <script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    $("#subjectButton" + /*[[${favorite.id}]]*/).click(function() {
                      var bookmarkSubject =  $("#floatingInput2" + /*[[${favorite.id}]]*/).val();
                      console.log("버튼 클릭" + bookmarkSubject);

                      $.ajax({
                        async: true,
                        type : 'POST',
                        data : bookmarkSubject,
                        url : "favorite/subjectCheck",
                        dataType : "json",
                        contentType: "application/json; charset=UTF-8",
                        success : function(result) {
                          console.log(result);
                          if (result) {
                            alert("북마크 이름은 중복으로 사용이 불가능 합니다.");
                            $("#floatingInput2").focus();
                          } else {
                            document.getElementById('modifyFavorite' + /*[[${favorite.id}]]*/).submit();
                          }
                        },
                        error : function(error) {

                          alert("error : " + error);
                        }
                      });
                    });
                    /*]]>*/
                  </script>
                </form>
              </div>
              <hr>
              <div class="modal-body">
                <h6 class="modal-title">북마크 삭제하기<p class="small">저장된 음식점들이 모두 삭제됩니다!</p></h6>
                <a class="dropdown-item" th:href="@{|/favorite/deleteFavorite/${favorite.id}|}">삭제</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PlaceList 시작 -->
      <div class="post-body">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col mb-4" th:each="place, loop : ${favorite.placeList}">
            <div class="card">
              <img th:src="${place.mainPhotoUrl}" class="card-img-top" alt="..." style="height:180px;">
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between"><a th:href="@{|/place/${place.id}/detail|}" th:text="${place.placeName}"></a>
                  <div class="dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <!-- modal 버튼 -->
                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop3">이동</button>
                      <a class="dropdown-item" th:href="@{|/favorite/${favorite.id}/deletePlace/${place.id}|}">삭제</a>
                    </div>
                  </div>
                  <!-- modal 북마크 음식점 이동하기 -->
                  <div class="modal fade" id="staticBackdrop3" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel3">북마크 이동하기</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div th:each="favorite, loop : ${favorites}">
                            <a th:text="${favorite.subject}" class="dropdown-item btn-sm" th:href="@{|/favorite/changeFavorite/${favorite.id}/${place.id}|}"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </h5>
                <h6 class="card-text" th:text="${place.categoryName}"></h6>
                <h6 class="card-text" th:text="${place.phone}"></h6>
                <h6 class="card-text" th:text="${place.addressName}">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h6>
                <h6 class="card-text" th:text="${place.roadAddressName}"></h6>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>