<!-- 게시글 상세 페이지 -->
<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="/media/figure/chat_8.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="#" th:text="${post.getAuthor().getAccount().username}">닉네임</a>
                                    <i class="icofont-check"></i></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-world"></i> Public</li>
                                    <li class="meta-time">8 minutes ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-no-thumbnail">
                            <h3 th:text="${post.getTitle()}">제목</h3>
                            <div th:utext="${post.getContent()}">내용</div>
                        </div>
                        <div class="post-meta-wrap">
                            <div class="post-meta">
                                <div class="post-reaction">
                                    <div class="reaction-icon">
                                        <img src="/media/figure/reaction_1.png" alt="icon">
                                        <img src="/media/figure/reaction_2.png" alt="icon">
                                        <img src="/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">15</div>
                                </div>
                            </div>
                            <div class="post-meta">
                                <div class="meta-text">2 Comments</div>
                                <div class="meta-text">05 Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="/media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="/media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="/media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="/media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="/media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="/media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="/media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-comment"></i>Comment</a></li>
                            <li class="post-share">
                                <a href="javascript:void(0);" class="share-btn"><i class="icofont-share"></i>Share</a>
                                <ul class="share-list">
                                    <li><a href="#" class="color-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="color-messenger"><i
                                            class="icofont-facebook-messenger"></i></a></li>
                                    <li><a href="#" class="color-instagram"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" class="color-whatsapp"><i class="icofont-brand-whatsapp"></i></a>
                                    </li>
                                    <li><a href="#" class="color-twitter"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!--댓글 부분-->
                    <div class="post-comment">
                        <div class="comment-body">
                            <div>
                                <div class="card my-3" th:each="reply : ${post.replyList}">
                                    <div class="post-body">
                                        <div class="card-text" th:text="${reply.comment}"></div>
                                    </div>
                                    <div class="post-footer">
                                        <ul>
                                            <li class="post-react">
                                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                            </li>
                                            <li><a href="#"><i class="icofont-delete-alt"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{|/posts/${post.id}|}" method="post">
                                <div class="input-box">
                                    <input type="text" name="content" class="form-control"
                                           placeholder="댓글을 입력해 주세요.">
                                </div>
                                <button type="submit" class="btn btn-primary mx-2">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="block-box load-more-btn">
                    <a href="#" class="item-btn"><i class="icofont-refresh"></i>Load More Posts</a>
                </div>
            </div>
            <div class="col-lg-4 widget-block widget-break-lg">
                <div class="widget widget-memebers">
                    <div class="widget-heading">
                        <h3 class="widget-title">Group Administrators</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="members-list">
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="/media/figure/chat_1.jpg" alt="Chat">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Julia Zessy</a></h4>
                                <div class="item-username">@zessy</div>
                                <div class="member-status online"><i class="icofont-check"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-memebers">
                    <div class="widget-heading">
                        <h3 class="widget-title">Members</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#newest-member" role="tab"
                               aria-selected="true">NEWEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#popular-member" role="tab"
                               aria-selected="false">POPULAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#active-member" role="tab"
                               aria-selected="false">ACTIVE</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="newest-member" role="tabpanel">
                            <div class="members-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_1.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                                        <div class="item-username">@Aahat</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_2.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                                        <div class="item-username">@Rahman</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_3.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                                        <div class="item-username">@Alia</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_4.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Masterero</a></h4>
                                        <div class="item-username">@Master</div>
                                        <div class="member-status offline"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="popular-member" role="tabpanel">
                            <div class="members-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_1.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                                        <div class="item-username">@Aahat</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_2.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                                        <div class="item-username">@Rahman</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_3.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                                        <div class="item-username">@Alia</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_4.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Masterero</a></h4>
                                        <div class="item-username">@Master</div>
                                        <div class="member-status offline"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="active-member" role="tabpanel">
                            <div class="members-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_1.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                                        <div class="item-username">@Aahat</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_2.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                                        <div class="item-username">@Rahman</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_3.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                                        <div class="item-username">@Alia</div>
                                        <div class="member-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="/media/figure/chat_4.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Masterero</a></h4>
                                        <div class="item-username">@Master</div>
                                        <div class="member-status offline"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-groups">
                    <div class="widget-heading">
                        <h3 class="widget-title">My Groups</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="group-list">
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="/media/groups/groups_9.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Kito Development</a></h4>
                                <div class="item-member">265 Members</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="/media/groups/groups_10.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Chef Express</a></h4>
                                <div class="item-member">4,265 Members</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="/media/groups/groups_11.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Photo Contest</a></h4>
                                <div class="item-member">1,265 Members</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="/media/groups/groups_12.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">WP Developers</a></h4>
                                <div class="item-member">265 Members</div>
                            </div>
                        </div>
                    </div>
                    <div class="see-all-btn">
                        <a href="#" class="item-btn">See All Groups</a>
                    </div>
                </div>
                <div class="widget widget-banner">
                    <h3 class="item-title">Most Popular</h3>
                    <div class="item-subtitle">Circle Application</div>
                    <a href="#" class="item-btn">
                        <span class="btn-text">Register Now</span>
                        <span class="btn-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="21px" height="10px">
                                        <path fill-rule="evenodd"
                                              d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z"/>
                                    </svg>
                                </span>
                    </a>
                    <div class="item-img">
                        <img src="/media/figure/widget_banner_1.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>