<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="banner-user banner-forum">
            <div class="banner-content">
                <div class="media">
                    <div class="item-img">
                        <img src="media/figure/forum_7.jpg" alt="User">
                    </div>
                    <div class="media-body">
                        <h3 class="item-title">Graphic Route</h3>
                        <div class="item-subtitle">@Graphic Route</div>
                        <ul class="item-social">
                            <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                            <li><a href="#" class="bg-youtube"><i class="icofont-brand-youtube"></i></a></li>
                            <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                        </ul>
                        <ul class="user-meta">
                            <li>Group Type: <span>Public</span></li>
                            <li>Posts: <span>30</span></li>
                            <li>Members: <span>2,590</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-box user-top-header">
            <ul class="menu-list">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Members</a></li>
                <li><a href="#">Media</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="block-box user-search-bar">
                    <div class="box-item search-box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Member">
                            <div class="input-group-append">
                                <button class="search-btn" type="button"><i class="icofont-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-item search-filter">
                        <div class="dropdown">
                            <label>Order By:</label>
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Newest Member</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">All Member</a>
                                <a class="dropdown-item" href="#">Newest Member</a>
                                <a class="dropdown-item" href="#">Oldest Member</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-list-view forum-account">
                    <div class="widget-author block-box">
                        <div class="author-heading">
                            <div class="cover-img">
                                <img src="media/figure/cover_1.jpg" alt="cover">
                            </div>
                            <div class="profile-img">
                                <a href="#">
                                    <img src="media/figure/author_1.jpg" alt="author">
                                </a>
                            </div>
                            <div class="profile-name">
                                <h4 class="author-name"><a href="#" class="h3">Rebeca Powel</a></h4>
                                <div class="author-location">@ahat akter</div>
                            </div>
                        </div>
                        <!--<ul class="author-badge">
                            <li><a href="#" class="bg-salmon-gradient"><i class="icofont-star"></i></a></li>
                            <li><a href="#" class="bg-sun-gradient"><i class="icofont-squirrel"></i></a></li>
                            <li><a href="#" class="bg-jungle-gradient"><i class="icofont-rocket-alt-1"></i></a></li>
                        </ul>-->
                        <ul class="author-statistics">
                            <li>
                                <a href="#"><span class="item-number">30</span> <span class="item-text">POSTS</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="item-number">12</span> <span class="item-text">COMMENTS</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="item-number">1,125</span> <span class="item-text">VIEWS</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-box load-more-btn">
                        <a href="#" class="item-btn"><i class="icofont-refresh"></i>Load More Member</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 widget-block widget-break-lg">
                <div class="widget widget-memebers">
                    <div class="widget-heading">
                        <h3 class="widget-title">Group Administrators</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="members-list">
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="media/figure/chat_1.jpg" alt="Chat">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Julia Zessy</a></h4>
                                <div class="item-username">@zessy </div>
                                <div class="account-status online"><i class="icofont-check"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-memebers">
                    <div class="widget-heading">
                        <h3 class="widget-title">Members</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#newest-account" role="tab" aria-selected="true">NEWEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#popular-account" role="tab" aria-selected="false">POPULAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#active-account" role="tab" aria-selected="false">ACTIVE</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="newest-account" role="tabpanel">
                            <div class="members-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_1.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                                        <div class="item-username">@Aahat </div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_2.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                                        <div class="item-username">@Rahman</div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_3.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                                        <div class="item-username">@Alia</div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_4.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Masterero</a></h4>
                                        <div class="item-username">@Master</div>
                                        <div class="account-status offline"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="popular-account" role="tabpanel">
                            <div class="members-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_1.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                                        <div class="item-username">@Aahat </div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_2.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                                        <div class="item-username">@Rahman</div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_3.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                                        <div class="item-username">@Alia</div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_4.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Masterero</a></h4>
                                        <div class="item-username">@Master</div>
                                        <div class="account-status offline"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="active-account" role="tabpanel">
                            <div class="members-list">
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_1.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                                        <div class="item-username">@Aahat </div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_2.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                                        <div class="item-username">@Rahman</div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_3.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                                        <div class="item-username">@Alia</div>
                                        <div class="account-status online"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="media/figure/chat_4.jpg" alt="Chat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a href="#">Masterero</a></h4>
                                        <div class="item-username">@Master</div>
                                        <div class="account-status offline"><i class="icofont-check"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-groups">
                    <div class="widget-heading">
                        <h3 class="widget-title">My Groups</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="group-list">
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="media/groups/groups_9.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Kito Development</a></h4>
                                <div class="item-account">265 Members</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="media/groups/groups_10.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Chef Express</a></h4>
                                <div class="item-account">4,265 Members</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="media/groups/groups_11.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">Photo Contest</a></h4>
                                <div class="item-account">1,265 Members</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <a href="#">
                                    <img src="media/groups/groups_12.jpg" alt="group">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="item-title"><a href="#">WP Developers</a></h4>
                                <div class="item-account">265 Members</div>
                            </div>
                        </div>
                    </div>
                    <div class="see-all-btn">
                        <a href="#" class="item-btn">See All Groups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>