<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="forum-topic-add">
            <h3 class="heading-title">Creat New Topic in "Graphic Route"</h3>
            <div class="block-box">
                <form>
                    <div class="form-group">
                        <label>Topic Title (Maximum Length: 80):</label>
                        <input type="text" class="form-control" name="topic_title">
                    </div>
                    <div class="form-group">
                        <div class="insert-btn">
                            <a href="#">B / LINK</a>
                            <a href="#">B-QUOTE</a>
                            <a href="#">DELL</a>
                            <a href="#">IMG</a>
                            <a href="#">UL</a>
                            <a href="#">OL</a>
                            <a href="#">LI</a>
                            <a href="#">CODE</a>
                            <a href="#">CLOSE</a>
                            <a href="#">TAGS</a>
                        </div>
                        <textarea name="message" id="message" class="form-control textarea" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Topic Tags:</label>
                        <input type="text" class="form-control" name="topic_tag">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Notify me of follow-up replies via email</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="submit-btn" name="btn-add" value="Submit Now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>