<!-- 게시글 상세 페이지 -->
<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">

<head>
    <title>맛동산 | 메인</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" /> <!-- 토스트 ui -->

    <!-- summernote 시작 -->

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <!-- summernote 끝-->

</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="newsfeed-search">
            <ul class="member-list">
                <li class="active-member">
                    <span class="member-text">
                            맛집 게시글
                    </span>
                </li>
            </ul>
            <ul class="search-list">
                <form class="input-group">
                    <li class="search-filter">
                        <button class="drop-btn" type="button">
                            <i class="icofont-abacus-alt"></i>
                        </button>
                        <div class="drop-menu">
                            <select class="select2" th:name="searchType" data-placeholder="검색어를 입력해주세요" required >
                                <option th:each="type : ${searchType}" th:value="${type}" th:text="${type.getValue()}"></option>
                            </select>
                        </div>
                    </li>
                    <li class="search-input">
                        <button class="drop-btn" type="button">
                            <i class="icofont-search"></i>
                        </button>
                        <div class="drop-menu">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="검색어를 입력해주세요." name="keyword" th:value="${param.keyword}">
                                <div class="input-group-append">
                                    <button class="search-btn" type="submit"><i class="icofont-search-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                </form>
            </ul>
        </div>
        <div th:if="${accessError}">
            <div th:replace="fragments/message-fragments :: danger-notice (message = ${accessError})"></div>
        </div>
        <div class="row gutters-20">
            <div class="col-lg-4 col-md-6" th:each="post, loop : ${paging}">
                <div class="block-box user-blog">
                    <div class="blog-content">
                        <div class="blog-category">
                            <a th:href="@{|/post/${post.id}/detail|}" th:text="|#${post.id}|"></a>
                            <a th:href="@{|/place/${post.getPlace().id}/detail|}" th:text="${post.getPlace().getPlaceName()}"></a>
                        </div>
                        <h3 class="blog-title"><a th:href="@{|/post/${post.id}/detail|}" th:text="${post.title}">제목</a></h3>
                    </div>
                    <div class="blog-meta">
                        <ul>
                            <li><i class="icofont-thumbs-up"></i><span th:text="${post.postLike.size()}">좋아요 수</span></li>
                            <li><i class="icofont-comment"></i><span th:text="${post.replyList.size()}">댓글 수</span></li>
                            <li><i class="icofont-clock-time"></i><span th:text="${post.postTime}">업로드 시간</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="load-more-post">
            <div th:if="${!paging.isEmpty()}"
                 th:with="queryStrBase = '?kw=' + ${param.kw}, queryStrBase = ${queryStrBase} + '&sortCode=' + ${param.sortCode}">
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item mr-1" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|${queryStrBase}&page=${paging.number-1}|}">
                            <span>이전</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:classappend="${page == paging.number} ? 'active'"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        class="page-item">
                        <a th:text="${page + 1}" class="page-link" th:href="@{|${queryStrBase}&page=${page}|}"></a>
                    </li>

                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link ml-1" th:href="@{|${queryStrBase}&page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>