<!-- 게시글 상세 페이지 -->
<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <title>맛동산 | 메인</title>
    <!-- OPENGRAPH -->
    <meta property="og:type" content="website" />
    <meta property="og:title" th:content="${post.getTitle()}" />
    <meta property="og:description" th:content="${post.getContent()}" />
    <meta property="og:url" th:content="@{matdongsan.tk/post/{id}/detail(id = ${post.getId()})}">
</head>
<body>

<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="block-box post-view">
            <div class="post-header">
                <div class="media">
                    <div class="user-img">
                        <div class="item-img bg-white">
                            <svg th:data-jdenticon-value="${post.getAuthor().nickname}" width="44" height="44" class="rounded-circle"></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="user-title"><a th:href="@{/profile/{username}(username = ${post.getAuthor().nickname})}" th:text="${post.getAuthor().getAccount().username}">닉네임</a>
                            <i class="icofont-check"></i></div>
                        <ul class="entry-meta">
                            <th:block th:if="${!post.privateStatus}">
                                <li class="meta-privacy"><i class="icofont-lock"></i> Private</li>
                            </th:block>
                            <th:block th:if="${post.privateStatus}">
                                <li class="meta-privacy"><i class="icofont-world"></i> Public</li>
                            </th:block>
                            <ul class="entry-meta">
                                <th:block th:if="${post.modifiedTime == null}">
                                    <li class="meta-time" th:text="${post.postTime}">등록 시간</li>
                                </th:block>
                                <th:block th:if="${post.modifiedTime != null}">
                                    <li class="meta-time" th:text="|${post.postTime}(수정됨)|">수정시간</li>
                                </th:block>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="dropdown" sec:authorize="isAuthenticated()">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <th:block th:if="${#authentication.principal.username == post.author.account.username}">
                            <a class="dropdown-item" th:href="@{/post/modify/{id}(id=${post.getId()})}"><span class="ml-1">수정</span></a>
                            <a class="dropdown-item" th:href="@{/post/delete/{id}(id=${post.getId()})}"><span class="ml-1">삭제</span></a>
                        </th:block>
                        <th:block th:if="${#authentication.principal.username != post.author.account.username}">
                            <a class="dropdown-item" href="#">신고하기</a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <div class="post-no-thumbnail">
                    <h3 th:text="${post.getTitle()}">제목</h3>
                    <div th:utext="${post.getContent()}">내용</div>
<!--                    <div class="container row" th:if="${not #strings.isEmpty(post.getImageUrls())}">-->
<!--                        <div class="row" th:each="url : ${#strings.arraySplit(post.getImageUrls(),',')}">-->
                    <!-- 이미지-->
                    <div class="container row">
                        <div class="row">
                            <img th:src="|/image/${postImage}|" class="img-thumbnail"
                                 width="150px" height="150px" style="object-fit: cover">
                        </div>
                    </div>
                    <!-- 비밀 글-->
                    <div th:if="${!post.isPrivateStatus()}">비밀 글입니다</div>

                    <div style="font-weight: bold;font-size: 16px;text-align: end">
                        <a th:text="${post.getPlace().getPlaceName()}" th:href="@{/place/{id}/detail(id = ${post.getPlace().getId()})}">
                            음식점 이름
                        </a>
                    </div>
                </div>
                <div class="post-meta-wrap">
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="post-meta" id="post-ajax-form">
                            <button class="btn" id="post-react-btn" th:onclick="|addPostLike.modifyPostLike(${post.getId()})|">
                                <th:block th:if="${!likeFlag}">
                                    <i class="icofont-thumbs-up"></i>
                                    <span class="mx-2">좋아요</span>
                                </th:block>
                                <th:block th:if="${likeFlag}">
                                    <i class="icofont-thumbs-up text-primary"></i>
                                    <span class="mx-2 text-primary">좋아요 취소</span>
                                </th:block>
                                <span class="badge rounded-pill bg-primary text-white" th:text="${post.getPostLike().size()}"></span>
                            </button>
                        </div>
                    </th:block>
                    <div class="post-meta">
                        <div class="meta-text" >
                            <a th:text="${post.replyList.size()}"></a>
                            개의 댓글
                        </div>
                    </div>
                </div>
                <div id="replyDiv" sec:authorize="isAuthenticated()">
                    <!--댓글 부분-->
                    <div class="post-comment" th:replace="fragments/reply-post::reply_fragment(${paging},${replyDto})"></div>
                    <!-- 댓글 끝 -->
                </div>
                <div class="dropdown" sec:authorize="!isAuthenticated()">
                    <!--댓글 부분-->
                    <div class="text-center align-middle pb-2">
                        <h5><a th:href="@{/login}">로그인</a> 후 댓글을 확인할 수 있습니다.</h5>
                    </div>
                    <!-- 댓글 끝 -->
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/likes/post-like-fragments::likes(${post.getId()})"></th:block>
</div>
</body>
</html>