<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
  <!--=====================================-->
  <!--=        Footer Area Start       	=-->
  <!--=====================================-->
  <footer class="footer-wrap footer-dashboard" th:fragment="header">
    <div class="main-footer">
      <div class="container">
        <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
          <div class="col">
            <div class="footer-box">
              <div class="footer-logo">
                <a href="index.html"><img src="media/logo_dark.png" alt="Logo"></a>
              </div>
              <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
            </div>
          </div>
          <div class="col d-flex justify-content-lg-center">
            <div class="footer-box">
              <h3 class="footer-title">
                Important Links
              </h3>
              <div class="footer-link">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About us</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="contact.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-lg-center">
            <div class="footer-box">
              <h3 class="footer-title">
                Community
              </h3>
              <div class="footer-link">
                <ul>
                  <li><a href="newsfeed.html">NewsFeed</a></li>
                  <li><a href="user-timeline.html">Profile</a></li>
                  <li><a href="user-friends.html">Friends</a></li>
                  <li><a href="user-groups.html">Groups</a></li>
                  <li><a href="forums.html">Forums</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-lg-center">
            <div class="footer-box">
              <h3 class="footer-title">
                Followers
              </h3>
              <div class="footer-link">
                <ul>
                  <li><a href="https://www.facebook.com/">facebook</a></li>
                  <li><a href="https://twitter.com/">twitter</a></li>
                  <li><a href="https://www.instagram.com/">instagram</a></li>
                  <li><a href="https://www.youtube.com/">Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copyright">Copy© cirkle 2021. All Rights Reserved</div>
    </div>
  </footer>
</body>
</html>