<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
  <!--=====================================-->
  <!--=        Footer Area Start       	=-->
  <!--=====================================-->
  <footer class="footer-wrap footer-dashboard" th:fragment="header">
    <div class="main-footer">
      <div class="container">
        <div class="footer-box">
          <div class="footer-logo">
            <a href="index.html"><img src="media/logo_dark.png" alt="Logo"></a>
          </div>
          <p>맛! 동! 산! 맛 동도로동동동동 산~!</p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copyright">Copy© Matdongsan 2022. All Rights Reserved</div>
    </div>
  </footer>
</body>
</html>