/*------------------- 5.9 Testimonial -------------------*/
.testimonial-carousel {
	padding: 120px 0 100px;
	background-image: url('../../media/testimonial/bg_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	position: relative;
	@media only screen and (max-width: 1199px) {
		padding: 95px 0 80px;  
	}
	@media only screen and (max-width: 991px) {
		padding: 75px 0 60px;  
	}
	&:before {
		content: url('../../media/testimonial/shape_2.png');
		position: absolute;
		right: 18%;
		top: 0;
		@media only screen and (max-width: 767px) {
		 	display: none;                     
		}
	}
	.testimonial-content {
		text-align: center;
		margin-bottom: 34px;
		.item-title {
			font-size: 24px;
			color: $color_light;
			margin-bottom: 4px;
		}
		.item-subtitle {
			font-size: 14px;
			color: #d4d3ff;
			margin-bottom: 25px;
		}
		p {
			font-size: 18px;
			color: $color_light;
		}
	}
	.slick-nav {
		max-width: 300px;
		margin: 0 auto;
		transition: all 0.3s ease-in-out;
		.slick-list {
			padding: 0 !important;
		}
		.nav-item {
			transition: all 0.3s ease-in-out;
			padding: 8px;
			margin-bottom: 20px;
			position: relative;
			&:before {
				content: url('../../media/testimonial/shape_1.png');
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				transform: rotate(90deg);
				visibility: hidden;
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}
			img {
				display: inline-block;
				border-radius: 50%;
				filter: grayscale(100%);
				transform: scale(0.85);
				box-shadow: 0 17px 21px 0 rgba(21, 17, 164, .46);
				transition: all 0.3s ease-in-out;
			}
		}
		.slick-center {
			&:before {
				visibility: visible;
				opacity: 1;
				transform: rotate(0deg);
			}
			img {
				transform: scale(1);
				filter: grayscale(0);
			}
		}
	}
	.shape-wrap {
		li {
			position: absolute;
			&:nth-child(1n) {
				top: 16%;
				left: 13%;
				animation: movingleftright1 15000ms linear infinite;
			}
			&:nth-child(2n) {
				top: 2%;
				left: 45%;
				animation: movingleftright2 25000ms linear infinite;
			}
			&:nth-child(3n) {
				top: 20%;
				left: 72%;
				animation: movingleftright3 20000ms linear infinite;
			}
			&:nth-child(4n) {
				top: 18%;
				left: 90%;
				animation: movingleftright2 30000ms linear infinite;
			}
			&:nth-child(5n) {
				bottom: 22%;
				top: auto;
				left: 10%;
				animation: movingleftright1 20000ms linear infinite;
			}
			&:nth-child(6n) {
				bottom: 6%;
				top: auto;
				left: 48%;
				animation: movingleftright3 15000ms linear infinite;
			}
			&:nth-child(7n) {
				bottom: 12%;
				top: auto;
				left: 80%;
				animation: movingleftright2 25000ms linear infinite;
			}
		}
	}
}