<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/sign-layout.html}">

<head>
    <title>맛동산 | 로그인</title>
    <style>
        .btn-kakao {
            color: #000000;
            background-color: #FEE500;
        }
    </style>
</head>

<body class="sticky-header">
<div layout:fragment="content">
    <div class="login-page-wrap">
        <div class="content-wrap">
            <div class="login-content">
                <div class="item-logo">
                    <a href="#"><img src="media/logo_large.png" alt="logo"></a>
                </div>
                <div class="login-form-wrap">
                    <h1>Sync Test</h1>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a th:href="@{/login}" class="nav-link active"><i class="icofont-users-alt-4"></i> Sign In </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/signup}" class="nav-link"><i class="icofont-download"></i> Sign Up </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane login-tab fade show active" id="login-tab" role="tabpanel">
                            <h3 class="item-title">Sign Into <span>Your Account</span></h3>
                            <!--<div class="google-signin">
                                <a href="#"><img src="media/figure/google-icon.png" alt="Google">Google Sign in</a>
                            </div>
                            <div class="google-signin">
                                <a href="#"><img src="media/figure/google-icon.png" alt="Kakao">Kakao Sign in</a>
                            </div>-->
                            <form th:action method="post" novalidate th:object="${accountLoginDto}">
                                <div class="form-group">
                                    <input type="text" id="username" required class="form-control" th:field="*{username}" placeholder="아이디를 입력하세요." autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" required class="form-control" th:field="*{password}" placeholder="비밀번호를 입력하세요." autocomplete="off">
                                </div>
                                <div class="form-group reset-password">
                                    <a href="#">* Reset Password</a>
                                </div>
                                <div class="form-group mb-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                                        <label class="form-check-label" for="rememberMe">자동 로그인</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="login-btn" class="submit-btn w-100" value="Login">
                                </div>
                            </form>
                            <hr class="my-4">
                            <a href="https://kauth.kakao.com/oauth/authorize?client_id=062d843fa8ad7533ce772552a6b9ea9e&redirect_uri=http://localhost:8080/account/kakao&response_type=code"
                               class="btn btn-lg btn-kakao btn-block" type="submit">
                                <img src="https://www.nicepng.com/png/full/388-3888984_open-png.png" width="20px" height="20px" class="mr-2 pb-1"/> 카카오로 시작하기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-line">
                <img src="media/banner/map_line.png" alt="map">
                <ul class="map-marker">
                    <li><img src="media/banner/marker_1.png" alt="marker"></li>
                    <li><img src="media/banner/marker_2.png" alt="marker"></li>
                    <li><img src="media/banner/marker_3.png" alt="marker"></li>
                    <li><img src="media/banner/marker_4.png" alt="marker"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>