<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <form>
            <div class="newsfeed-search px-3">
                <ul class="search-list">
                    <li class="search-filter">
                        <button class="drop-btn" type="button">
                            <i class="icofont-abacus-alt"></i>
                        </button>
                        <div class="drop-menu">
                            <select class="select2">
                                <option>--전체 지역--</option>
                                <option>서울</option>
                                <option>경기</option>
                                <option>강원</option>
                                <option>충청</option>
                                <option>전라</option>
                                <option>제주</option>
                            </select>
                            <select class="select2">
                                <option>--전체 분야--</option>
                                <option>한식</option>
                                <option>양식</option>
                                <option>중식</option>
                                <option>일식</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">
                    <div class="input-group-append">
                        <button class="search-btn" type="button"><i class="icofont-search-1"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!--<div class="row">
            <div class="col-6">
                <div class="text-center">
                    <a class="tw-relative" th:href="@{/place/map}">
                        <img src="media/figure/user_photo2.jpg" alt="Gallery">
                        <div class="card-img-overlay">
                            <h5 class="card-title">맛집 지도</h5>
                            <p class="card-text">유저들이 올린 맛집을 지도로 보기</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center">
                    <a class="tw-relative" th:href="@{/place}">
                        <img src="media/figure/user_photo2.jpg" alt="Gallery">
                        <div class="card-img-overlay">
                            <h5 class="card-title">맛집 둘러보기</h5>
                            <p class="card-text">내 근처에 유저들이 올린 맛집 리스트 보기</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>-->
        <h3>인기 플레이스 TOP 5</h3>
        <th:block th:if="${top5Place.size() == 0}">
            <div> 플레이스가 등록되어있지 않습니다.</div>
        </th:block>
        <th:block th:if="${top5Place.size() != 0}">
            <div id="placeTop5" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="top, status : ${top5Place}" th:classappend="${status.index == 0} ? active" style=" cursor: pointer;" th:onclick="'location.href=\'' + @{/place/{placeId}/detail(placeId = ${top.id})} + '\''">
                        <img class="d-block w-100" th:src="@{${top.getMainPhotoUrl()}}" style="height: 300px; opacity: 0.5;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="${top.getPlaceName()}">장소이름</h5>
                            <p th:utext="${top.getCategoryName()}">분류</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#placeTop5" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#placeTop5" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </th:block>
        <br>
        <h3>인기 포스팅 TOP 5</h3>
        <th:block th:if="${top5Post.size() == 0}">
            <div> 리뷰 포스트가 등록되어있지 않습니다.</div>
        </th:block>
        <th:block th:if="${top5Post.size() != 0}">
            <div id="postingTop5" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="top, status : ${top5Post}" th:classappend="${status.index == 0} ? active" style=" cursor: pointer;" th:onclick="'location.href=\'' + @{/post/{postId}(postId = ${top.id})} + '\''">
                        <img class="d-block w-100" th:src="@{${top.getPlace().mainPhotoUrl}}" style="height: 300px; opacity: 0.5;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="${top.title}">제목</h5>
                            <p th:utext="${top.content}">내용 조금</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#postingTop5" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#postingTop5" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>