<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <form>
            <div class="newsfeed-search px-3">
                <ul class="search-list">
                    <li class="search-filter">
                        <button class="drop-btn" type="button">
                            <i class="icofont-abacus-alt"></i>
                        </button>
                        <div class="drop-menu">
                            <select class="select2">
                                <option>--전체 지역--</option>
                                <option>서울</option>
                                <option>경기</option>
                                <option>강원</option>
                                <option>충청</option>
                                <option>전라</option>
                                <option>제주</option>
                            </select>
                            <select class="select2">
                                <option>--전체 분야--</option>
                                <option>한식</option>
                                <option>양식</option>
                                <option>중식</option>
                                <option>일식</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">
                    <div class="input-group-append">
                        <button class="search-btn" type="button"><i class="icofont-search-1"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-6">
                <div class="text-center">
                    <a class="tw-relative" th:href="@{/place/map}">
                        <img src="media/figure/user_photo2.jpg" alt="Gallery">
                        <div class="card-img-overlay">
                            <h5 class="card-title">맛집 지도</h5>
                            <p class="card-text">유저들이 올린 맛집을 지도로 보기</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center">
                    <a class="tw-relative" th:href="@{/place}">
                        <img src="media/figure/user_photo2.jpg" alt="Gallery">
                        <div class="card-img-overlay">
                            <h5 class="card-title">맛집 둘러보기</h5>
                            <p class="card-text">내 근처에 유저들이 올린 맛집 리스트 보기</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>