<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <!-- Banner Area Start -->
        <div class="newsfeed-banner">
            <div class="media">
                <div class="item-icon">
                    <i class="icofont-megaphone-alt"></i>
                </div>
                <div class="media-body">
                    <h3 class="item-title">오늘 날씨</h3>
                    <p><a>52년 8월 16일 날씨 : </a>지진, 화산 폭발, 강태풍, 박해일</p>
                    <p><a>오늘 날씨에 어울리는 음식 : </a>똥국, 고순조</p>
                </div>
            </div>
            <ul class="animation-img">
                <li data-sal="slide-down" data-sal-duration="800" data-sal-delay="400"><img src="media/banner/shape_7.png" alt="shape"></li>
                <li data-sal="slide-up" data-sal-duration="500"><img src="media/banner/people_2.png" alt="shape"></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="media-body">
                                <p class="user-title text-dark">내 주변 맛집 리뷰</p>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">더보기</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <ul class="post-img-list">
                            <li>
                                <a href="#" class="mb-3">
                                    <img src="media/figure/post_6.jpg" alt="Post">
                                </a>
                                <p class="text-dark text-left">맛집 이름</p>
                            </li>
                            <li>
                                <a href="#" class="mb-3">
                                    <img src="media/figure/post_6.jpg" alt="Post">
                                </a>
                                <p class="text-dark text-left">맛집 이름</p>
                            </li>
                            <li>
                                <a href="#" class="mb-3">
                                    <img src="media/figure/post_6.jpg" alt="Post">
                                </a>
                                <p class="text-dark text-left">맛집 이름</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>