<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns="http://www.w3.org/1999/html"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout.html}">
<head>
    <title>맛동산 | 메인</title>
</head>
<body>
<div layout:fragment="content">
    <!--=====================================-->
    <!--=       Container  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="product-breadcrumb block-box" th:style="${not #strings.isEmpty(place.mainPhotoUrl)}?
        'background-image:url('+${place.mainPhotoUrl}+');background-repeat: no-repeat, repeat; background-size: cover;' : ''">
            <div class="breadcrumb-area">
                <h1 class="item-title" th:text="${place.placeName}">가게 명</h1>
                <ul>
                    <li th:text="${place.categoryName}"></li>
                </ul>
            </div>
        </div>
        <div class="single-product">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-gallery">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active show" id="related1">
                                <a href="#">
                                    <img class="zoom_01 img-fluid" alt="single" src="/media/figure/product_10.jpg" data-zoom-image="/media/figure/product_10.jpg">
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="related2">
                                <a href="#">
                                    <img class="zoom_01 img-fluid" alt="single" src="/media/figure/product_10.jpg" data-zoom-image="/media/figure/product_10.jpg">
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="related3">
                                <a href="#">
                                    <img class="zoom_01 img-fluid" alt="single" src="/media/figure/product_10.jpg" data-zoom-image="/media/figure/product_10.jpg">
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="related4">
                                <a href="#">
                                    <img class="zoom_01 img-fluid" alt="single" src="/media/figure/product_10.jpg" data-zoom-image="media/figure/product_10.jpg">
                                </a>
                            </div>
                        </div>
                        <ul class="nav nav-tabs tab-nav-list">
                            <li class="nav-item">
                                <a class="active" href="#related1" data-toggle="tab" aria-expanded="false">
                                    <img alt="related1" src="/media/figure/product_11.png" class="img-fluid">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#related2" data-toggle="tab" aria-expanded="false">
                                    <img alt="related2" src="/media/figure/product_11.png" class="img-fluid">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#related3" data-toggle="tab" aria-expanded="false">
                                    <img alt="related3" src="/media/figure/product_11.png" class="img-fluid">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#related4" data-toggle="tab" aria-expanded="false">
                                    <img alt="related3" src="/media/figure/product_11.png" class="img-fluid">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <div class="item-category">PLACE</div>
                        <h2 class="item-title" style="margin-bottom:0 " th:text="${place.placeName}">가게명</h2>
                        <div class="item-price"><a th:href="${place.placeUrl}" style="font-size: small">웹 페이지로 가기</a></div>
                        <ul class="entry-meta">
                            <li>Category:
                                <span th:text="${place.categoryName}">카테고리</span>
                            </li>
                            <li>Address:
                                <span th:text="${place.addressName}"></span>
                            </li>
                            <li>Road Address:
                                <span th:text="${place.roadAddressName}"></span>
                            </li>
                            <li>
                                Phone:
                                <span th:text="${place.phone}">010-0000-0000</span>
                            </li>
                                <li th:if='${not #strings.isEmpty(place.menus)}'>
                                    Menu:
                                    <div  th:each="menu : ${#strings.arraySplit(place.menus,'|')}" class="container">
                                        <div class="row">
                                            <span th:text="${#strings.arraySplit(menu,'=')[0]}">메뉴명</span>
                                            <div class="col"></div>
                                            <span th:text="${#strings.arraySplit(menu,'=')[1]}">가격</span>
                                            <div class="w-50"></div>
                                        </div>
                                    </div>
                                </li>
                        </ul>
                        <ul class="action-area">
                            <li id="quantity-holder">
                                <div class="input-group quantity-holder">
                                    <button id="bookmarkBtn" class="quantity-btn quantity-minus" type="button">
                                        <i id="bookmarkIcon" class="fa-regular fa-bookmark"></i>
                                        <span id="favoriteCount" >30</span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-product-info">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#reviews" role="tab" aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="reviews" role="tabpanel">
                    <div class="product-review">
                        <div class="media">
                            <div class="item-img">
                                <img src="/media/figure/author_6.jpg" alt="blog">
                            </div>
                            <div class="media-body">
                                <div class="item-date">DateTime</div>
                                <div class="author-name">
                                    <h5 class="item-title">Writer</h5>
                                </div>
                                <p style="font-weight: bold">title</p>
                                <p>content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            let placeId = [[${place.id}]];
            let favoriteCount = [[${favoriteCount}]];
            let isFavorite = [[${isFavorite}]];

            let favoriteCountEl = document.getElementById("favoriteCount");
            let bookmarkIconEl = document.getElementById("bookmarkIcon");
            let bookmarkBtnEl = document.getElementById("bookmarkBtn");

            updateFavoriteContent();

            function updateFavoriteContent(){
                favoriteCountEl.innerText = favoriteCount;
                if(isFavorite){
                    bookmarkIconEl.classList.replace("fa-regular","fa-solid")
                }else{
                    bookmarkIconEl.classList.replace("fa-solid","fa-regular")
                }
            }

            function sendFavorite(){
                console.log("sendFavorite");
                return fetch("/api/place/"+placeId+"/favorite",{
                    method:"POST",
                }).then(async res => {
                    var json = await res.json()
                    console.log(json);
                    favoriteCount = json['favoriteCount'];
                    isFavorite = json['favorite'];

                    console.log(favoriteCount);
                    console.log(isFavorite);
                    updateFavoriteContent();
                })
            }

            bookmarkBtnEl.addEventListener("click",sendFavorite)


        </script>
    </div>
</div>
</body>

</html>