/*------------------- 4.8 Preloader -------------------*/
#preloader {
    background: #ffffff url('../../media/preloader.gif') no-repeat scroll center center;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

